In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\IPL Matches 2008-2020.csv')

In [3]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [4]:
# loc 
# iloc----> index based searching!!
df.iloc[0]

id                                      335982
city                                 Bangalore
date                                2008-04-18
player_of_match                    BB McCullum
venue                    M Chinnaswamy Stadium
neutral_venue                                0
team1              Royal Challengers Bangalore
team2                    Kolkata Knight Riders
toss_winner        Royal Challengers Bangalore
toss_decision                            field
winner                   Kolkata Knight Riders
result                                    runs
result_margin                            140.0
eliminator                                   N
method                                     NaN
umpire1                              Asad Rauf
umpire2                            RE Koertzen
Name: 0, dtype: object

In [5]:
df.iloc[0,3]

'BB McCullum'

In [6]:
df.iloc[0,5]

0

In [7]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [8]:
df.city

0       Bangalore
1      Chandigarh
2           Delhi
3          Mumbai
4         Kolkata
          ...
811         Dubai
812         Dubai
813     Abu Dhabi
814     Abu Dhabi
815         Dubai
Name: city, Length: 816, dtype: object

In [9]:
#how many time ipl was happen in banglore city.
df.iloc[df[0,1]=='Bangalore']

KeyError: (0, 1)

In [10]:
df.loc[df['city']=='Bangalore']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
10,335992,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
24,336006,Bangalore,2008-05-05,S Sreesanth,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,N,NaN,SJ Davis,BR Doctrove
30,336012,Bangalore,2008-05-28,CRD Fernando,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1082621,Bangalore,2017-04-27,AJ Tye,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,N,NaN,AK Chaudhary,C Shamshuddin
618,1082633,Bangalore,2017-05-05,Sandeep Sharma,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,runs,19.0,N,NaN,CB Gaffaney,C Shamshuddin
621,1082636,Bangalore,2017-05-07,SP Narine,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,N,NaN,AY Dandekar,C Shamshuddin
633,1082648,Bangalore,2017-05-17,NM Coulter-Nile,M Chinnaswamy Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649,Bangalore,2017-05-19,KV Sharma,M Chinnaswamy Stadium,0,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,N,NaN,NJ Llong,Nitin Menon

In [11]:
df['city'].iloc[0]

'Bangalore'

In [12]:
df['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          65
Hyderabad          64
Chennai            57
Chandigarh         56
Jaipur             47
Pune               38
Abu Dhabi          29
Dubai              26
Bengaluru          15
Durban             15
Visakhapatnam      13
Ahmedabad          12
Sharjah            12
Centurion          12
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cuttack             7
Cape Town           7
Port Elizabeth      7
Ranchi              7
Raipur              6
Kochi               5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

In [13]:
df.loc[df['city']=='Bengaluru',['city','venue']]

          city                  venue
581  Bengaluru  M.Chinnaswamy Stadium
643  Bengaluru  M.Chinnaswamy Stadium
646  Bengaluru  M.Chinnaswamy Stadium
654  Bengaluru  M.Chinnaswamy Stadium
659  Bengaluru  M.Chinnaswamy Stadium
664  Bengaluru  M.Chinnaswamy Stadium
666  Bengaluru  M.Chinnaswamy Stadium
686  Bengaluru  M.Chinnaswamy Stadium
702  Bengaluru  M.Chinnaswamy Stadium
712  Bengaluru  M.Chinnaswamy Stadium
715  Bengaluru  M.Chinnaswamy Stadium
734  Bengaluru  M.Chinnaswamy Stadium
737  Bengaluru  M.Chinnaswamy Stadium
744  Bengaluru  M.Chinnaswamy Stadium
749  Bengaluru  M.Chinnaswamy Stadium

In [14]:
df.shape

(816, 17)

In [15]:
# df["city"=="Bangalore"].value_counts()
df.loc[df['city']=='Bangalore',['player_of_match','team1']]

     player_of_match                        team1
0        BB McCullum  Royal Challengers Bangalore
10         SR Watson  Royal Challengers Bangalore
14          MS Dhoni  Royal Challengers Bangalore
24       S Sreesanth  Royal Challengers Bangalore
30      CRD Fernando  Royal Challengers Bangalore
..               ...                          ...
606           AJ Tye  Royal Challengers Bangalore
618   Sandeep Sharma  Royal Challengers Bangalore
621        SP Narine  Royal Challengers Bangalore
633  NM Coulter-Nile          Sunrisers Hyderabad
634        KV Sharma               Mumbai Indians

[65 rows x 2 columns]

In [16]:
#aggregation function
df[['city','venue']].iloc[0:2]

         city                                       venue
0   Bangalore                       M Chinnaswamy Stadium
1  Chandigarh  Punjab Cricket Association Stadium, Mohali

In [17]:
# sum,max,min,mean,median,avg,std deviation,percentile
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [18]:
df['result_margin'].sum()

13840.0

In [19]:
df['result_margin'].max()

146.0

In [20]:
df['result_margin'].min()

1.0

In [21]:
df['result_margin'].mean()

17.321652065081352

In [22]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [23]:
df.replace('Chandigarh','C')

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,C,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

# Pandas part 6

In [28]:
replace_city = df.replace('Bangalore','Bengaluru')

In [34]:
df.loc[replace_city['city']=='Bengaluru'].shape[0]

80

In [27]:
df.loc[df['city']=='Bengaluru']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
581,1082595,Bengaluru,2017-04-08,KM Jadhav,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,15.0,N,NaN,S Ravi,VK Sharma
643,1136568,Bengaluru,2018-04-13,UT Yadav,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,4.0,N,NaN,A Deshmukh,S Ravi
646,1136571,Bengaluru,2018-04-15,SV Samson,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,runs,19.0,N,NaN,C Shamshuddin,S Ravi
654,1136579,Bengaluru,2018-04-21,AB de Villiers,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,6.0,N,NaN,CB Gaffaney,CK Nandan
659,1136584,Bengaluru,2018-04-25,MS Dhoni,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,NJ Llong,VK Sharma
664,1136589,Bengaluru,2018-04-29,CA Lynn,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,N,NaN,NJ Llong,AK Chaudhary
666,1136591,Bengaluru,2018-05-01,TG Southee,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,runs,14.0,N,NaN,M Erasmus,Nitin Menon
686,1136611,Bengaluru,2018-05-17,AB de Villiers,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,14.0,N,NaN,AY Dandekar,S Ravi
702,1175362,Bengaluru,2019-03-28,JJ Bumrah,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,6.0,N,NaN,CK Nandan,S Ravi
712,1175372,Bengaluru,2019-04-05,AD Russell,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,CB Gaffaney,AK Chaudhary
715,1178395,Bengaluru,2019-04-07,K Rabada,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,4.0,N,NaN,YC Barde,S Ravi
734,1178414,Bengaluru,2019-04-21,PA Patel,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Royal Challengers Bangalore,runs,1.0,N,NaN,RJ Tucker,VA Kulkarni
737,1178417,Bengaluru,2019-04-24,AB de Villiers,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Royal Challengers Bangalore,runs,17.0,N,NaN,C Shamshuddin,BNJ Oxenford
744,1178424,Bengaluru,2019-04-30,NaN,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,NaN,NaN,NaN,UV Gandhe,NJ Llong
749,1178429,Bengaluru,2019-05-04,SO Hetmyer,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,4.0,N,NaN,NJ Llong,AK Chaudhary

In [35]:
#groupby
df.groupby(['team1']).mean()

                                       id  neutral_venue  result_margin
team1
Chennai Super Kings          6.753125e+05       0.148936      17.784946
Deccan Chargers              4.385486e+05       0.256410      14.153846
Delhi Capitals               1.202348e+06       0.000000      17.647059
Delhi Daredevils             6.738618e+05       0.132530      17.670732
Gujarat Lions                1.025441e+06       0.000000       9.866667
Kings XI Punjab              7.601415e+05       0.086957      18.163043
Kochi Tuskers Kerala         5.012330e+05       0.000000      19.571429
Kolkata Knight Riders        7.942457e+05       0.073684      15.282609
Mumbai Indians               8.087483e+05       0.030928      17.947368
Pune Warriors                5.512894e+05       0.000000      15.521739
Rajasthan Royals             7.222976e+05       0.042857      15.260870
Rising Pune Supergiant       1.082618e+06       0.000000      27.428571
Rising Pune Supergiants      9.809653e+05       0.000000       7.571429
Royal Challengers Bangalore  7.363633e+05       0.166667      21.067961
Sunrisers Hyderabad          9.637267e+05       0.050847      17.120690

In [36]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [40]:
#on the basis of toss_decision what will be the 
# upcoming result.
df.groupby(['toss_decision'])[['winner']].max()

C:\Users\Satyam\AppData\Local\Temp/ipykernel_2520/2696676983.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby(['toss_decision'])[['winner']].max()

Empty DataFrame
Columns: []
Index: [bat, field]

In [43]:
df.groupby(["toss_winner"])[["winner"]].max()

C:\Users\Satyam\AppData\Local\Temp/ipykernel_2520/446921108.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby(["toss_winner"])[["winner"]].max()

Empty DataFrame
Columns: []
Index: [Chennai Super Kings, Deccan Chargers, Delhi Capitals, Delhi Daredevils, Gujarat Lions, Kings XI Punjab, Kochi Tuskers Kerala, Kolkata Knight Riders, Mumbai Indians, Pune Warriors, Rajasthan Royals, Rising Pune Supergiant, Rising Pune Supergiants, Royal Challengers Bangalore, Sunrisers Hyderabad]

In [44]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [48]:
df.groupby(['toss_decision','result']).mean()

                                  id  neutral_venue  result_margin
toss_decision result
bat           runs     645765.198630       0.150685      28.013699
              tie      960977.400000       0.200000            NaN
              wickets  668684.184524       0.125000       6.422619
field         runs     810572.522936       0.059633      32.178899
              tie      882998.250000       0.125000            NaN
              wickets  818904.966292       0.071161       6.202247

In [49]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [50]:
#on the basis of city arrange the data into 
# assending/descending order.
df.groupby(["toss_decision","result"]).agg({"result_margin":["max"]}).reset_index()

  toss_decision   result result_margin
                                   max
0           bat     runs         111.0
1           bat      tie           NaN
2           bat  wickets          10.0
3         field     runs         146.0
4         field      tie           NaN
5         field  wickets          10.0

In [51]:
df.sort_values("city")

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
405,729293,Abu Dhabi,2014-04-21,SK Raina,Sheikh Zayed Stadium,1,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,93.0,N,NaN,RK Illingworth,C Shamshuddin
416,729315,Abu Dhabi,2014-04-29,JP Faulkner,Sheikh Zayed Stadium,1,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,tie,NaN,Y,NaN,Aleem Dar,AK Chaudhary
412,729307,Abu Dhabi,2014-04-26,Sandeep Sharma,Sheikh Zayed Stadium,1,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kings XI Punjab,runs,23.0,N,NaN,HDPK Dharmasena,RK Illingworth
411,729305,Abu Dhabi,2014-04-26,PV Tambe,Sheikh Zayed Stadium,1,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,field,Rajasthan Royals,wickets,6.0,N,NaN,HDPK Dharmasena,C Shamshuddin
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,729303,NaN,2014-04-25,MM Sharma,Dubai International Cricket Stadium,1,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,Chennai Super Kings,wickets,7.0,N,NaN,BF Bowden,M Erasmus
413,729309,NaN,2014-04-27,M Vijay,Sharjah Cricket Stadium,1,Delhi Daredevils,Mumbai Indians,Mumbai Indians,bat,Delhi Daredevils,wickets,6.0,N,NaN,Aleem Dar,VA Kulkarni
414,729311,NaN,2014-04-27,DR Smith,Sharjah Cricket Stadium,1,Sunrisers Hyderabad,Chennai Super Kings,Sunrisers Hyderabad,bat,Chennai Super Kings,wickets,5.0,N,NaN,AK Chaudhary,VA Kulkarni
415,729313,NaN,2014-04-28,Sandeep Sharma,Dubai International Cricket Stadium,1,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,field,Kings XI Punjab,wickets,5.0,N,NaN,BF Bowden,S Ravi
417,729317,NaN,2014-04-30,B Kumar,Dubai International Cricket Stadium,1,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,field,Sunrisers Hyderabad,runs,15.0,N,NaN,HDPK Dharmasena,M Erasmus

In [77]:
df.groupby(by ='city',sort=False)

                      id  neutral_venue  result_margin
city
Bangalore       44083928              0         1480.0
Chandigarh      41701764              0          829.0
Delhi           56089448              0         1267.0
Mumbai          71322210              0         1579.0
Kolkata         59078918              0         1146.0
Jaipur          32488020              0          742.0
Hyderabad       52001817              0          977.0
Chennai         36434261              0         1013.0
Cape Town        2745303              7          163.0
Port Elizabeth   2745433              7          222.0
Durban           5883117             15          192.0
Centurion        4706622             12          130.0
East London      1176627              3           94.0
Johannesburg     3137799              8           60.0
Kimberley        1176653              3           63.0
Bloemfontein      784456              2           20.0
Ahmedabad        7931426              0          218.0
Cuttack          4136913              0           93.0
Nagpur           1257439              0           21.0
Dharamsala       4634935              0          302.0
Kochi            2506119              0          123.0
Indore           8796720              0           89.0
Visakhapatnam   11835291              0          312.0
Pune            31360079              0          747.0
Raipur           4817683              0           46.0
Ranchi           4961955              0           65.0
Abu Dhabi       31909733              7          519.0
Rajkot          10317740              0          118.0
Kanpur           4127291              0           22.0
Bengaluru       17281501              0          120.0
Dubai           31670948              0          673.0
Sharjah         14598194              0          246.0

In [64]:
sortValue = df.sort_values("city",ascending=True)

In [65]:
sortValue.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
405,729293,Abu Dhabi,2014-04-21,SK Raina,Sheikh Zayed Stadium,1,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,93.0,N,NaN,RK Illingworth,C Shamshuddin
416,729315,Abu Dhabi,2014-04-29,JP Faulkner,Sheikh Zayed Stadium,1,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,tie,NaN,Y,NaN,Aleem Dar,AK Chaudhary
412,729307,Abu Dhabi,2014-04-26,Sandeep Sharma,Sheikh Zayed Stadium,1,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kings XI Punjab,runs,23.0,N,NaN,HDPK Dharmasena,RK Illingworth
411,729305,Abu Dhabi,2014-04-26,PV Tambe,Sheikh Zayed Stadium,1,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,field,Rajasthan Royals,wickets,6.0,N,NaN,HDPK Dharmasena,C Shamshuddin
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi

In [78]:
 df.sort_values(['city'],ascending=False).groupby('city').head(3)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
256,548314,Visakhapatnam,2012-04-09,RG Sharma,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,0,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Mumbai Indians,wickets,5.0,N,NaN,AK Chaudhary,JD Cloete
471,829731,Visakhapatnam,2015-04-18,JP Duminy,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,0,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,bat,Delhi Daredevils,runs,4.0,N,NaN,PG Pathak,S Ravi
253,548311,Visakhapatnam,2012-04-07,RA Jadeja,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,0,Deccan Chargers,Chennai Super Kings,Deccan Chargers,field,Chennai Super Kings,runs,74.0,N,NaN,JD Cloete,HDPK Dharmasena
764,1216500,Sharjah,2020-10-09,R Ashwin,Sharjah Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,field,Delhi Capitals,runs,46.0,N,NaN,KN Ananthapadmanabhan,C Shamshuddin
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
399,729281,NaN,2014-04-17,YS Chahal,Sharjah Cricket Stadium,1,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,8.0,N,NaN,Aleem Dar,S Ravi
402,729287,NaN,2014-04-19,PA Patel,Dubai International Cricket Stadium,1,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,7.0,N,NaN,Aleem Dar,AK Chaudhary
403,729289,NaN,2014-04-19,JP Duminy,Dubai International Cricket Stadium,1,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,Delhi Daredevils,wickets,4.0,N,NaN,Aleem Dar,VA Kulkarni

In [83]:
#merge

#cancate

x = {
    'name':['A'],
    'age':[23],
    'gender':['M']
}

In [84]:
x

{'name': ['A'], 'age': [23], 'gender': ['M']}

In [87]:
y={
    'age':[34],
    'salary':[40000]
}
y

{'age': [34], 'salary': [40000]}

In [85]:
a = pd.DataFrame(x)

In [86]:
a

  name  age gender
0    A   23      M

In [88]:
b = pd.DataFrame(y)

In [89]:
b

   age  salary
0   34   40000

In [90]:
# merge
pd.merge(a,b,how='inner')

Empty DataFrame
Columns: [name, age, gender, salary]
Index: []

In [91]:
pd.merge(a,b,how='left')

  name  age gender  salary
0    A   23      M     NaN

In [92]:
pd.merge(a,b,how='right')

  name  age gender  salary
0  NaN   34    NaN   40000

In [93]:
pd.merge(a,b,how='outer')

  name  age gender   salary
0    A   23      M      NaN
1  NaN   34    NaN  40000.0